.services {
  background-color: #f4f4f4;
  padding: 3rem;
  text-align: center;
}

.services h2 {
  font-size: 24px;
  margin-bottom: 2rem;
}

.service-image-container {
  position: relative;
  max-width: 100%;
}

.service-image-container img {
  max-width: 100%;
  height: auto;
}

/* Add hover effect on areas */
area:hover {
  opacity: 0.7;
}
